@foreach (var estate in Estates)
{
    <a href="@($"RealEstate/{estate.Id}")">


        <div class="shadow row mb-5 real-estate-card">

            <div class="col-lg-8 col-md-12 col-12 p-0 img-container" style="background-image: url(@estate.ListingURL);">
            </div>


            <div class="col-lg-4 col-md-12 col-12 p-0">
                <h5 class="ml-3 mt-3 city">@estate.City, @BuyersOptions(estate)</h5>
                <h4 class="mt-2 ml-3 adress">@estate.Address</h4>
                <p class="ml-3 mb-4 description">
                    @if (estate.Description.Length > 200)
                    {
                        PartOfDescription = estate.Description.Substring(0, 200);
                        @PartOfDescription;
                    }
                    else
                    {
                        @estate.Description
                    }

                </p>

                @if (estate.CanBeSold)
                {
                        <p class="ml-3 mb-3"><strong>Price:</strong> @string.Format("{0:N} kr", estate.SellingPrice)</p>
                    
                }

                else
                {
                        <p class="ml-3 mb-3"><strong>Rent:</strong> @string.Format("{0:N} kr", estate.RentingPrice)/month</p>
                    
                }
                <p class="ml-3 mb-3"><strong>Square footage:</strong> @estate.SquareMeters m²</p>
                <p class="ml-3 mb-3"><strong>Built:</strong> @estate.ConstructionYear</p>
                <p class="ml-3 mb-3"><strong>Rooms:</strong> @estate.Rooms</p>

            </div>
        </div>
    </a>
}

@code
{
    public string PartOfDescription { get; set; }
}