@page "/RealEstate/{id}"
@inherits BaseRealEstateDetail
@inject IJSRuntime JsRuntime
@attribute [Microsoft.AspNetCore.Authorization.Authorize]



@if (Errors.Count() > 0)
{
    foreach (var error in RealEstate.Errors)
    {
        <p>@error.Value[0]</p>
    }
}
else if (string.IsNullOrEmpty(RealEstate.Title))
{
    <div class="spinner"></div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12  pb-3">
                @*First card*@
                <RealEstateCard RealEstate="@RealEstate"></RealEstateCard>
            </div>

            @*Broker card*@
            <div class="col-12 col-lg-6 col-xl-6 pb-3">
                <div id="broker-card" class="card w-100 shadow">
                    <div class="row no-gutters py-2">
                        @*Broker image*@
                        <div id="Broker-image" class="col-6 col-sm-6 col-md-4">
                            <img id="card-img" src="../Img/Broker.jpg" />
                        </div>
                        @*Broker contact info*@
                        <div id="broker-info" class="col-6 col-sm-6 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jhon Jones</h5>
                                <p class="card-text">Conact info: @RealEstate.Contact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*User card*@
            <div class="col-12 col-lg-6 col-xl-6 pb-3">
                <div id="broker-card" class="card w-100 shadow">
                    <div class="row no-gutters py-2">
                        @*User image*@
                        <div id="Broker-image" class="col-6 col-sm-6 col-md-4">
                            <img id="card-img" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" />
                        </div>
                        @*User contact info*@
                        <div id="broker-info" class="col-6 col-sm-6 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@UserName</h5>
                                <p>Seller for this object</p>
                                <a href="/User/@UserName" class="btn btn-primary mb-0">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    //RealEstate info
    <div class="container mt-5">
        <div class="row pt-5">
            @*Planlösning*@
            <div class="w-100 text-center pb-3 col-12">
                <h2 class="mb-1">Planlösning</h2>
                <img id="floorplan" src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/d4bf82d2-4dd6-4bc8-8a44-cb0fae03c7a6" class="img-fluid shadow" />
            </div>
        </div>
        <div class="row pt-5">
            @*Karta*@
            <div class="w-100 text-center pb-3 col-12">
                <h2 class="mb-1">Karta</h2>
                <div id="map">
                </div>
            </div>
        </div>
    </div>

    <CommentSection Comments="@RealEstateComments" Id="@Id" EnablePostComment="@true" PostSuccess="@NewComment.IsSuccesfullCommentPost"
                    TotalPages="@Totalpages" CurrentPage="@currentPage" Radius="2" SelectedPade="@SelectedPage" SubmittedComment="@OnPostComment"></CommentSection>


    @if (NewComment.IsSuccesfullCommentPost)
    {
        <p>Succesfully posted comment</p>
    }
    else if (NewComment.errors.Count() > 0)
    {
        foreach (var error in NewComment.errors)
        {
            <p>@error.Value[0]</p>
        }
    }



    @code {

        protected async override Task OnAfterRenderAsync(bool firstRender)
        {
            firstRender = true;

            if (firstRender)
            {
                await JsRuntime.InvokeVoidAsync("initMap", null);
                firstRender = false;
            }

        }
    }
}
