@page "/registration"

<div class="col-12 card card-body bg-light mt-5 col-md-5 mb-5 mx-auto shadow-lg">
    <EditForm Model="_userForRegistrationDto" OnValidSubmit="Register" OnInvalidSubmit="InValidRegister" class="">
        <DataAnnotationsValidator />

        <div class="form-group">
            <h2>Register a new user</h2>
        </div>

        @if (ShowRegistrationErros)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var error in Errors)
                {
                    <p>@error</p>
                }
            </div>
        }
        <!--  -->
        @if (ShowRegistrationMessage)
        {
            <div class="alert alert-success" role="alert">
                <p>@registrationMessage</p>
            </div>
        }

        <div class="form-group">
            <label for="email" class=" col-form-label">Email:</label>
            <div class="">
                <InputText id="email" class="form-control" @bind-Value="_userForRegistrationDto.Email" aria-describedby="emailHelp" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <ValidationMessage For="@(() => _userForRegistrationDto.Email)" />
            </div>
        </div>
        <div class="form-group">
            <label for="UserName" class="col-form-label">Username:</label>
            <div class="">
                <InputText id="UserName" class="form-control" @bind-Value="_userForRegistrationDto.UserName" aria-describedby="userNameHelp" />
                <small id="userNameHelp" class="form-text text-muted">Username must be between 3-30 characters long.</small>
                <ValidationMessage For="@(() => _userForRegistrationDto.UserName)" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <div class="">
                <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistrationDto.Password" aria-describedby="passwordHelp" />
                <small id="passwordHelp" class="form-text text-muted">Password must be atleast 6 characters long. Contain an uppercase and lowercase letter as well as a digit.</small>
                <ValidationMessage For="@(() => _userForRegistrationDto.Password)" />
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-form-label">Confirm Password:</label>
            <div class="">
                <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistrationDto.ConfirmPassword" />
                <ValidationMessage For="@(() => _userForRegistrationDto.ConfirmPassword)" />
            </div>
        </div>
        <div class="form-group">
            <div class="text-left mt-5">

                @if (isPosting)
                {
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Register</button>
                    <button @onclick="ClearForm" class="btn btn-danger ml-2">Clear</button>
                }

            </div>
        </div>
    </EditForm>
</div>